@import '../settings/settings';

.entity-popup-btn {
    width: 39px;
    height: 38px;
    margin-right: 10px;
    color: #fff;
    border: none;
    border-radius: 50%;
    background: none;
    background-color: color('entity-popup-btn');
    box-shadow: 1px 2px 5px rgba(54,69,77,0.5);

    @extend %default-transition;
    @extend %inline-block-center;
    &:hover,
    &:focus {
        box-shadow: 3px 4px 15px rgba(54,69,77,0.5);
    }
}
